body{
  background-image: url("images/Moraine_Lake.jpg");
  background-size: cover;
}
.block{
  display: inline-block;
}
.formContainer{
  width: 80vw;
  margin-left: 100px;
  margin-bottom: 25px;
}
img{
  height:200px;
  width:auto;
}
.green{
  color:green;
}
.red{
  color:red;
}
.dropdown-toggle{
  margin-right: 55vw;
}
.dropdown-menu{
  margin-right: 55vw;
}
.ng-enter{
    transition: 0.5s ease all;
    opacity: 0;
}
.ng-enter.ng-enter-active{
    opacity: 1;
}

.ng-leave{
    transition: 0.5s ease all;
    opacity: 1;
}

.ng-leave.ng-leave-active{
    opacity: 0;
}
.inLine{
  display:inline-block;
  font-family: 'Exo 2', sans-serif;
}
.imageCont{
  height:100px;
  width:150px;
  display:inline-block;
  vertical-align: middle;
}
.selectIn{
  display: inline-block;
  margin-top: 15px;
}
.panel-body{
  background-color: #F8F8F8;
  border-style:solid;
  border-width: 2px;
}
.panel.panel-default{
  background-color: white;
  margin-right: 50px;
}
#title{
  font-family: 'Bungee Inline', cursive;
  font-size: 40px;
  color:blue;
}

.font2{
  font-family: 'Exo 2', sans-serif;
}
.font{
  font-family: 'Bungee Inline', cursive;
}
.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    align-items: center;
}
.author{
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 100px;
  top:0;

}
.postTitle{
  font-size: 15px;
}
.middle{
  width: 700px;
}
.bold{
  font-weight: 900;
}
.space{
  margin-left: 20px;
}
.buttonSpace{
  margin-top: 10px;
}
.imgCont{
  height: 200px;
  width: 250px;
  overflow: hidden;
}
